PORT=3000

DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=change_me
DATABASE_NAME=node_course

JWT_SECRET=change_me
JWT_REFRESH_SECRET=change_me

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
RABBITMQ_EXCHANGE=orders
RABBITMQ_QUEUE_PROCESS=orders.process
RABBITMQ_QUEUE_DLQ=orders.dlq
